bjoern==3.2.2
blinker==1.9.0
certifi==2026.5.20
chardet==7.4.3
charset-normalizer==3.4.7
click==8.4.1
Flask==3.1.3
gevent==26.5.0
gevent-ws==2.1.0
greenlet==3.5.1
hiredis==3.4.0
httplib2==0.31.2
idna==3.18
importlib-metadata==9.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
pyparsing==3.3.2
python-dateutil==2.9.0.post0
redis==8.0.0
requests==2.34.2
sentry-sdk==2.61.1
six==1.17.0
urllib3==2.7.0
Werkzeug==3.1.8
zipp==4.1.0
zope.event==6.2
zope.interface==8.5
