name: Environments build and test
on:
  pull_request:
    branches: [master]

env:
  # Only FISSION_VERSION is needed for the Makefile
  FISSION_VERSION: v1.21.0
  
  # Version pinning documentation (used in setup-cluster/action.yml defaults)
  # KIND_NODE_IMAGE: kindest/node:v1.27.16
  # KIND_VERSION: v0.23.0
  # HELM_VERSION: v3.18.4
  # FISSION_CLI_VERSION: v1.21.0
  # KIND_CONFIG: kind.yaml
  # CHECKOUT_VERSION: v2
  # SETUP_GO_VERSION: v2
  # SETUP_NODE_VERSION: v4
  # SETUP_PYTHON_VERSION: v2
  # PATHS_FILTER_VERSION: v2
  # UPLOAD_ARTIFACT_VERSION: v4
  # SKAFFOLD_ACTION_VERSION: 1.5.0

jobs:
  # Job to run change detection
  check:
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.filter.outputs.changes }}
    steps:
      - name: Checkout the current repo
        uses: actions/checkout@v2
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: .github/workflows/filters/filters.yaml
  binary:
    runs-on: ubuntu-latest
    needs: check
    if: contains( needs.check.outputs.packages, 'binary')
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: setup go
        uses: actions/setup-go@v2
        with:
          go-version: 1.22
      - name: Unit test
        run: |
          pushd binary/
          ./test/local_test.sh
          popd
      - name: Setup Fission Environment
        uses: ./.github/actions/setup-cluster
      - name: Fission and test images
        run: |
          SKAFFOLD_PROFILE=binary make skaffold-run
          make binary-test-images
          make router-port-forward
      - name: binary-tests
        run: ./test_utils/run_test.sh ./binary/test/test_binary_env.sh
      - name: Collect Fission Dump
        uses: ./.github/actions/collect-fission-dump
        with:
          workflow-name: ${{ github.jobs[github.job].name }}
  go:
    runs-on: ubuntu-latest
    needs: check
    if: contains( needs.check.outputs.packages, 'go' )
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: Setup Fission Environment
        uses: ./.github/actions/setup-cluster
      - name: Fission and Test images
        run: |
          SKAFFOLD_PROFILE=go make skaffold-run
          make go-test-images
          make router-port-forward
      - name: go-tests
        run: ./test_utils/run_test.sh ./go/tests/test_go_env.sh
      - name: Collect Fission Dump
        uses: ./.github/actions/collect-fission-dump
        with:
          workflow-name: ${{ github.jobs[github.job].name }}
  jvm:
    runs-on: ubuntu-latest
    needs: check
    if: contains( needs.check.outputs.packages, 'jvm' )
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: .github/workflows/filters/filters.yaml
      - name: Setup Fission Environment
        uses: ./.github/actions/setup-cluster
      - name: jvm
        run: |
          SKAFFOLD_PROFILE=jvm make skaffold-run
          make jvm-test-images
          make router-port-forward
      - name: jvm-tests
        run: ./test_utils/run_test.sh jvm/tests/test_java_env.sh
  nodejs:
    runs-on: ubuntu-latest
    needs: check
    if: contains( needs.check.outputs.packages, 'nodejs' )
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Unit test
        run: |
          pushd nodejs/
          npm install
          ./test/local_test.sh
          popd
      - name: Setup Fission Environment
        uses: ./.github/actions/setup-cluster
      - name: Fission and Test images
        run: |
          SKAFFOLD_PROFILE=nodejs make skaffold-run
          make nodejs-test-images
          make router-port-forward
      - name: nodejs-tests
        run: |
          ./test_utils/run_test.sh ./nodejs/test/test_node_env.sh
      - name: Collect Fission Dump
        uses: ./.github/actions/collect-fission-dump
        if: ${{ failure() }}
        with:
          workflow-name: ${{ github.jobs[github.job].name }}
  perl:
    runs-on: ubuntu-latest
    if: contains( needs.check.outputs.packages, 'perl' )
    needs: check
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: .github/workflows/filters/filters.yaml
      - name: Setup Fission Cluster
        uses: ./.github/actions/setup-cluster
      - name: perl
        if: steps.filter.outputs.perl == 'true'
        uses: hiberbee/github-action-skaffold@1.5.0
        with:
          command: run
          profile: perl
  php7:
    runs-on: ubuntu-latest
    needs: check
    if: contains( needs.check.outputs.packages, 'php7' )
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: .github/workflows/filters/filters.yaml
      - name: Setup Fission Cluster
        uses: ./.github/actions/setup-cluster
      - name: php7
        uses: hiberbee/github-action-skaffold@1.5.0
        with:
          command: run
          profile: php7
  python:
    runs-on: ubuntu-latest
    needs: check
    if: contains( needs.check.outputs, 'python' )
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - name: Unit test
        run: |
          pip3 install virtualenv
          sudo apt-get update -y && sudo apt-get install -y libev-dev
          pushd python/
          export USERFUNCVOL=/tmp
          export RUNTIME_PORT=8882
          ./tests/local_test.sh
          export RUNTIME_PORT=8883
          export WSGI_FRAMEWORK=GEVENT
          ./tests/local_test.sh
          unset RUNTIME_PORT
          popd
      - name: Setup Fission Environment
        uses: ./.github/actions/setup-cluster
      - name: Fission and Test images
        run: |
          SKAFFOLD_PROFILE=python make skaffold-run
          make python-test-images
          make router-port-forward
      - name: python-tests
        run: |
          ./test_utils/run_test.sh ./python/tests/test_python_env.sh
      - name: Collect Fission Dump
        uses: ./.github/actions/collect-fission-dump
        if: ${{ failure() }}
        with:
          workflow-name: ${{ github.jobs[github.job].name }}
  python-fastapi:
    runs-on: ubuntu-latest
    needs: check
    if: contains( needs.check.outputs.packages, 'python-fastapi' )
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - name: Unit test
        run: |
          pip3 install virtualenv
          sudo apt-get update -y && sudo apt-get install -y libev-dev
          pushd python-fastapi/
          export USERFUNCVOL=/tmp
          export RUNTIME_PORT=8882
          ./tests/local_test.sh
          unset RUNTIME_PORT
          popd
      - name: Setup Fission Environment
        uses: ./.github/actions/setup-cluster
      - name: Fission and Test images
        run: |
          SKAFFOLD_PROFILE=python-fastapi make skaffold-run
          make python-fastapi-test-images
          make router-port-forward
      - name: python-fastapi-tests
        run: |
          ./test_utils/run_test.sh ./python-fastapi/tests/test_python_fastapi_env.sh
      - name: Collect Fission Dump
        uses: ./.github/actions/collect-fission-dump
        if: ${{ failure() }}
        with:
          workflow-name: ${{ github.jobs[github.job].name }}
  ruby:
    runs-on: ubuntu-latest
    needs: check
    if: contains(needs.check.outputs.packages, 'ruby')
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: .github/workflows/filters/filters.yaml
      - name: Setup Fission Cluster
        uses: ./.github/actions/setup-cluster
      - name: ruby
        uses: hiberbee/github-action-skaffold@1.5.0
        with:
          command: run
          profile: ruby
  tensorflow:
    runs-on: ubuntu-latest
    needs: check
    if: contains(needs.check.outputs.packages, 'tensorflow-serving')
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: .github/workflows/filters/filters.yaml
      - name: Setup Fission Cluster
        uses: ./.github/actions/setup-cluster
      - name: tensorflow-serving
        if: steps.filter.outputs.tensorflow-serving == 'true'
        uses: hiberbee/github-action-skaffold@1.5.0
        with:
          command: run
          profile: tensorflow-serving
